body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #fafafa;
}

/* Ülemine päis */
.top-bar {
    background-color: #2e3192;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;     /* väiksem paksus */
}

.logo {
    width: 35px;           /* väiksem logo */
    height: 35px;
    border-radius: 4px;
}

.school-name {
    font-weight: 600;
    font-size: 1em;        /* väiksem tekst */
}

.tagline {
    font-style: italic;
    font-size: 0.9em;      /* väiksem moto */
    color: #dcdcf5;
}

.right-section {
    font-weight: normal;
    font-size: 0.8em;      /* väiksem parempoolne tekst */
}


/* Sisu */
.content {
    text-align: center;
    padding: 40px;
}

.content img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.content h3 {
    color: green;
    font-size: 25px;
    margin-bottom: 10px;
}

.content i {
    color: red;
    font-size: 15px;
}

button {
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #2e3192;
    color: white;
    transition: background 0.3s;
}

button:hover {
    background-color: #4b4edb;
}

#nimekiri {
    align-items: center;
    display: flex;
    justify-content: center;
    
}